<div class="big-container">
    <div class="box-container">
        <h3 class="mb-30">选择语言</h3>
        <div class="default-select">
            <select v-model="selected_language">
                {% for language in language_list %}
                    <option value="{{ language }}">{{ language }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>