<div class="big-container">
    <div class="box-container">
        <h3 class="mb-30">选择语言</h3>
        <div class="default-select">
            <select>
                {% for language in language_list %}
                    <option value="1" :click="change_to_this_lan('{{language}}')">{{ language }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>